// Для импорта в диспетчер подключений: @import './src/blocks/page-footer/page-footer.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-footer {

  background-image: url(../../img/footer.png);
  padding: 20px 0 30px 0;
  background-size: cover;


  .promo-text {
    display: inline-block;

  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__links {
    display: inline-block;
    width: 75%;
    text-align: center;



    a {
      position: relative;
      padding-left: 42px;
    }

    a:after {
      content: "";
      position: absolute;
      height: 32px;
      width: 42px;
      top: 0;
      right: 0;

    }

    .youtube:after {
      background: url(../../img/youtube-logo.png);
      background-repeat: no-repeat;
    }

    .instagram:after {
      background: url(../../img/instagram-logo.png);
      background-repeat: no-repeat;
    }

    .facebook:after {
      background: url(../../img/facebook-logo.png);
      background-repeat: no-repeat;
    }

    .vk:after {
      background: url(../../img/vk.png);
      background-repeat: no-repeat;
      top: 7px;
      left: -10px;
    }
  }

  &__contact {
    display: inline-block;
    width: 13%;

    .phone, .email {
      text-decoration: none;
      color: #000;
    }

    .phone {
      display: inline-block;
      margin-top: 10px;
    }
  }

}
